body {
  font-family: 'Inter', cursive;
  background: #0F0920;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
  gap: 40px;
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}
.logo {
  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
}
.menu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
}
.menu a {
  color: #ffffff;
  text-decoration: none;
  gap: 40px;
}
.dropbtn {
  background: #0F0920;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0052FF;
  border-radius: 30px;
  min-width: 160px;
  box-shadow: gray;
  z-index: 1;
}

.dropdown-content a {
  display: flex;
  justify-content: center;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: gray;
  border-radius: 30px
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  box-shadow: #0052FF;
}
.header-btn {
  display: flex;
  justify-content: flex-end;
}
.login-bg {
  display: flex;
  width: 109px;
  height: 48px;
  background: #0052FF;
  border-radius: 100px;
  align-items: center;
  justify-content: center;
}
#login {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}
.register-bg {
  display: flex;
  width: 109px;
  height: 48px;
  background: white;
  margin-left: 8px;
  border-radius: 100px;
  justify-content: center;
  align-items: center;
}
#register {
  color: #0052FF;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  text-decoration: none;
}
.content {
  display: flex;
  align-items: center;
  margin-top: 60px;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}
.pill {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #2D273F;
  width: 363px;
  height: 42px;
  border-radius: 20px;
}
#newtext {
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0052FF;
  width: 48px;
  height: 24px;
  border-radius: 20px;
  font-size: 12px;
  color: white;
  font-weight: 700;
  text-decoration: none;
}
.pill-text {
  display: flex;
  align-items: center;
  text-decoration: none;
  gap: 7px;
  font-size: 12px;
  color: white;
}
.image {
  display: flex;
  justify-content: flex-end;
}
#img1 {
  border-radius: 8px;
}
.frame108 {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}
.boldtext {
  margin-top: 12px;
  display: flex;
  justify-content: flex-start;
  color: white;
  font-size: 72px;
  font-weight: 600;
  width: 592px;
}
.smalltext {
  color: white;
  font-size: 20px;
  font-weight: 400;
  width: 485px;
  margin-top: 7px;
}
.mail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.mailbox {display: flex;
  justify-content: center;
  border-radius: 8px;
  color: #475467;
}
.mailbtn {
  gap: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #0052FF;
  border-radius: 8px;
  width: 155px;
  height: 50px;
}
.mailbtn-text {
  color: white;
  text-decoration: none;
}
input {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 396px;
  height: 50px;
  border-radius: 8px;
  gap: 10px;
  padding-left: 15px;
}
.form-control {
  display: flex;
  justify-content: flex-start;

}
.brands {
  margin-top: 32px;
}
.trustedby {
  font-weight: 700;
  font-size: 12px;
  color: white;
}
.list {
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 27.87px;
}
